## 대신증권 API cybos plus 사용하기

### 필요 모듈 import

In [1]:
import win32com.client
import pandas as pd
import datetime

### cybos plus 연결 체크

In [2]:
 # 연결 여부 체크
objCpCybos = win32com.client.Dispatch("CpUtil.CpCybos")
bConnect = objCpCybos.IsConnect
if (bConnect == 0):
    print("PLUS가 정상적으로 연결되지 않음. ")
    exit()
else:
    print("PLUS가 정상적 연결됨")

PLUS가 정상적 연결됨

In [3]:
kospi31_stocks = pd.read_csv("./data/kospi31-2003-2021.csv")
kospi31_stocks

,code,name,date,open,high,low,close
0,U182,kospi50_index,20030102,594.500000,597.070007,584.559998,594.840027
1,U182,kospi50_index,20030103,611.070007,622.500000,608.710022,621.150024
2,U182,kospi50_index,20030106,624.799988,628.260010,618.059998,626.940002
3,U182,kospi50_index,20030107,639.080017,639.419983,612.830017,613.109985
4,U182,kospi50_index,20030108,617.380005,621.359985,611.400024,612.520020
...,...,...,...,...,...,...,...
148155,A005380,현대차,20210909,212500.000000,212500.000000,208000.000000,208500.000000
148156,A005380,현대차,20210910,208500.000000,209500.000000,204000.000000,206500.000000
148157,A005380,현대차,20210913,206500.000000,206500.000000,204000.000000,205000.000000
148158,A005380,현대차,20210914,206500.000000,211500.000000,206000.000000,209000.000000
148159,A005380,현대차,20210915,208000.000000,211500.000000,208000.000000,209500.000000

In [4]:
idx = kospi31_stocks[kospi31_stocks.date == 20210915].index
kospi31_stocks.drop(idx, inplace=True)
kospi31_stocks

,code,name,date,open,high,low,close
0,U182,kospi50_index,20030102,594.500000,597.070007,584.559998,594.840027
1,U182,kospi50_index,20030103,611.070007,622.500000,608.710022,621.150024
2,U182,kospi50_index,20030106,624.799988,628.260010,618.059998,626.940002
3,U182,kospi50_index,20030107,639.080017,639.419983,612.830017,613.109985
4,U182,kospi50_index,20030108,617.380005,621.359985,611.400024,612.520020
...,...,...,...,...,...,...,...
148154,A005380,현대차,20210908,210500.000000,214500.000000,210000.000000,213000.000000
148155,A005380,현대차,20210909,212500.000000,212500.000000,208000.000000,208500.000000
148156,A005380,현대차,20210910,208500.000000,209500.000000,204000.000000,206500.000000
148157,A005380,현대차,20210913,206500.000000,206500.000000,204000.000000,205000.000000
148158,A005380,현대차,20210914,206500.000000,211500.000000,206000.000000,209000.000000

In [5]:
market = kospi31_stocks[kospi31_stocks.code == 'U182']
market_codes = market.code.unique()
market_names = market.name.unique()

stocks = kospi31_stocks[kospi31_stocks.code != 'U182']
stock_codes = stocks.code.unique()
stock_names = stocks.name.unique()

print(market_names)
print(len(stock_names), stock_names)

['kospi50_index']
31 ['KT' 'KT&G' 'LG' 'LG생활건강' 'LG유플러스' 'LG전자' 'LG화학' 'NAVER' 'POSCO' 'S-Oil'
 'SK텔레콤' 'SK하이닉스' '강원랜드' '고려아연' '기아' '기업은행' '롯데케미칼' '삼성SDI' '삼성전기' '삼성전자'
 '삼성화재' '신한지주' '엔씨소프트' '카카오' '코웨이' '포스코케미칼' '한국전력' '한국조선해양' '한온시스템'
 '현대모비스' '현대차']

In [6]:
market

,code,name,date,open,high,low,close
0,U182,kospi50_index,20030102,594.500000,597.070007,584.559998,594.840027
1,U182,kospi50_index,20030103,611.070007,622.500000,608.710022,621.150024
2,U182,kospi50_index,20030106,624.799988,628.260010,618.059998,626.940002
3,U182,kospi50_index,20030107,639.080017,639.419983,612.830017,613.109985
4,U182,kospi50_index,20030108,617.380005,621.359985,611.400024,612.520020
...,...,...,...,...,...,...,...
4624,U182,kospi50_index,20210908,2887.080078,2892.860107,2859.780029,2868.310059
4625,U182,kospi50_index,20210909,2846.560059,2858.580078,2810.719971,2815.219971
4626,U182,kospi50_index,20210910,2818.320068,2830.219971,2805.340088,2821.600098
4627,U182,kospi50_index,20210913,2810.709961,2834.520020,2804.149902,2825.580078
4628,U182,kospi50_index,20210914,2832.570068,2859.149902,2831.300049,2842.000000

In [7]:
stocks

           code name      date      open      high       low     close
4630    A030200   KT  20030102   50800.0   51000.0   49600.0   49900.0
4631    A030200   KT  20030103   50600.0   52400.0   50200.0   52400.0
4632    A030200   KT  20030106   51900.0   52700.0   51400.0   52400.0
4633    A030200   KT  20030107   53400.0   53400.0   51300.0   51500.0
4634    A030200   KT  20030108   52200.0   53000.0   51600.0   52000.0
...         ...  ...       ...       ...       ...       ...       ...
148154  A005380  현대차  20210908  210500.0  214500.0  210000.0  213000.0
148155  A005380  현대차  20210909  212500.0  212500.0  208000.0  208500.0
148156  A005380  현대차  20210910  208500.0  209500.0  204000.0  206500.0
148157  A005380  현대차  20210913  206500.0  206500.0  204000.0  205000.0
148158  A005380  현대차  20210914  206500.0  211500.0  206000.0  209000.0

[143499 rows x 7 columns]

In [8]:
market_itmes = {c:n for c, n in zip(market_codes, market_names)}
stock_items = {c:n for c, n in zip(stock_codes, stock_names)}
print(market_itmes, stock_items)

{'U182': 'kospi50_index'} {'A030200': 'KT', 'A033780': 'KT&G', 'A003550': 'LG', 'A051900': 'LG생활건강', 'A032640': 'LG유플러스', 'A066570': 'LG전자', 'A051910': 'LG화학', 'A035420': 'NAVER', 'A005490': 'POSCO', 'A010950': 'S-Oil', 'A017670': 'SK텔레콤', 'A000660': 'SK하이닉스', 'A035250': '강원랜드', 'A010130': '고려아연', 'A000270': '기아', 'A024110': '기업은행', 'A011170': '롯데케미칼', 'A006400': '삼성SDI', 'A009150': '삼성전기', 'A005930': '삼성전자', 'A000810': '삼성화재', 'A055550': '신한지주', 'A036570': '엔씨소프트', 'A035720': '카카오', 'A021240': '코웨이', 'A003670': '포스코케미칼', 'A015760': '한국전력', 'A009540': '한국조선해양', 'A018880': '한온시스템', 'A012330': '현대모비스', 'A005380': '현대차'}

In [9]:
def get_daily_stock_data(itmes):
    import datetime    
    instStockChart = win32com.client.Dispatch("CpSysDib.StockChart")
    nCpCybos = win32com.client.Dispatch("CpUtil.CpCybos")
    
    column_dailychart = ['code', 'name', 'date', 'open', 'high', 'low', 'close',]
    
    instStockChart.SetInputValue(1, ord('1'))
    instStockChart.SetInputValue(5, (0, 2, 3, 4, 5))
    instStockChart.SetInputValue(6, ord('D'))
    instStockChart.SetInputValue(9, ord('1'))
    
    rows = list()
    for code, name in itmes.items():
        row = list(range(len(column_dailychart)))
        # 현재가 객체 구하기
        instStockChart.SetInputValue(0, code)
        
        t = datetime.date.today()
        today = t.strftime("%Y%m%d")
        instStockChart.SetInputValue(3, today)
        instStockChart.BlockRequest()

        numData = instStockChart.GetHeaderValue(3)
        numField = instStockChart.GetHeaderValue(1)
        # GetDataValue
        for i in range(numData):
            row[0] = code
            row[1] = name
            row[2] = instStockChart.GetDataValue(0, i)# 날짜
            row[3] = instStockChart.GetDataValue(1, i) # 시가
            row[4] = instStockChart.GetDataValue(2, i) # 고가
            row[5] = instStockChart.GetDataValue(3, i) # 저가
            row[6] = instStockChart.GetDataValue(4, i) # 종가
            rows.append(list(row))
    stockitems_dailychart = pd.DataFrame(rows, columns=column_dailychart)
    return stockitems_dailychart

In [10]:
market_daily_chart = get_daily_stock_data(market_itmes)
market_daily_chart

,code,name,date,open,high,low,close
0,U182,kospi50_index,20210915,2839.360107,2856.25,2829.379883,2843.399902

In [11]:
stocks_daily_chart = get_daily_stock_data(stock_items)
stocks_daily_chart

       code    name      date     open     high      low    close
0   A030200      KT  20210915    32550    32800    32500    32550
1   A033780    KT&G  20210915    81200    81800    81200    81400
2   A003550      LG  20210915    94600    96700    94600    95700
3   A051900  LG생활건강  20210915  1411000  1416000  1390000  1393000
4   A032640  LG유플러스  20210915    14500    14650    14500    14650
5   A066570    LG전자  20210915   143500   143500   140500   142000
6   A051910    LG화학  20210915   723000   725000   706000   718000
7   A035420   NAVER  20210915   403000   409500   400000   400500
8   A005490   POSCO  20210915   361500   366500   357000   361500
9   A010950   S-Oil  20210915   101500   103000   100000   101000
10  A017670   SK텔레콤  20210915   302500   305500   301500   303000
11  A000660  SK하이닉스  20210915   107500   107500   105500   107500
12  A035250    강원랜드  20210915    28200    28700    27850    28200
13  A010130    고려아연  20210915   516000   524000   512000   519000
14  A000270      기아  20210915    83000    84200    82500    83300
15  A024110    기업은행  20210915    10250    10350    10200    10250
16  A011170   롯데케미칼  20210915   255500   258000   253000   254000
17  A006400   삼성SDI  20210915   761000   761000   747000   750000
18  A009150    삼성전기  20210915   186000   186500   182500   184000
19  A005930    삼성전자  20210915    77400    77400    76400    77000
20  A000810    삼성화재  20210915   232500   236500   232000   232000
21  A055550    신한지주  20210915    38700    39150    38650    38850
22  A036570   엔씨소프트  20210915   592000   603000   592000   596000
23  A035720     카카오  20210915   123500   127500   122000   122500
24  A021240     코웨이  20210915    78000    79800    78000    79600
25  A003670  포스코케미칼  20210915   155000   163000   154000   161500
26  A015760    한국전력  20210915    23850    24300    23800    24000
27  A009540  한국조선해양  20210915   117000   119000   115500   117500
28  A018880   한온시스템  20210915    16000    16250    16000    16150
29  A012330   현대모비스  20210915   267500   271500   267500   269000
30  A005380     현대차  20210915   208000   211500   208000   209500

In [12]:
market = pd.concat([market, market_daily_chart])
market = market.sort_values(["name", "date"])
market

,code,name,date,open,high,low,close
0,U182,kospi50_index,20030102,594.500000,597.070007,584.559998,594.840027
1,U182,kospi50_index,20030103,611.070007,622.500000,608.710022,621.150024
2,U182,kospi50_index,20030106,624.799988,628.260010,618.059998,626.940002
3,U182,kospi50_index,20030107,639.080017,639.419983,612.830017,613.109985
4,U182,kospi50_index,20030108,617.380005,621.359985,611.400024,612.520020
...,...,...,...,...,...,...,...
4625,U182,kospi50_index,20210909,2846.560059,2858.580078,2810.719971,2815.219971
4626,U182,kospi50_index,20210910,2818.320068,2830.219971,2805.340088,2821.600098
4627,U182,kospi50_index,20210913,2810.709961,2834.520020,2804.149902,2825.580078
4628,U182,kospi50_index,20210914,2832.570068,2859.149902,2831.300049,2842.000000
0,U182,kospi50_index,20210915,2839.360107,2856.250000,2829.379883,2843.399902

In [13]:
stocks = pd.concat([stocks, stocks_daily_chart])
stocks = stocks.sort_values(["name", "date"])
stocks

           code name      date      open      high       low     close
4630    A030200   KT  20030102   50800.0   51000.0   49600.0   49900.0
4631    A030200   KT  20030103   50600.0   52400.0   50200.0   52400.0
4632    A030200   KT  20030106   51900.0   52700.0   51400.0   52400.0
4633    A030200   KT  20030107   53400.0   53400.0   51300.0   51500.0
4634    A030200   KT  20030108   52200.0   53000.0   51600.0   52000.0
...         ...  ...       ...       ...       ...       ...       ...
148155  A005380  현대차  20210909  212500.0  212500.0  208000.0  208500.0
148156  A005380  현대차  20210910  208500.0  209500.0  204000.0  206500.0
148157  A005380  현대차  20210913  206500.0  206500.0  204000.0  205000.0
148158  A005380  현대차  20210914  206500.0  211500.0  206000.0  209000.0
30      A005380  현대차  20210915  208000.0  211500.0  208000.0  209500.0

[143530 rows x 7 columns]

In [14]:
kospi31_stocks = pd.concat([market, stocks])
kospi31_stocks.reset_index(drop=True, inplace=True)
kospi31_stocks

,code,name,date,open,high,low,close
0,U182,kospi50_index,20030102,594.500000,597.070007,584.559998,594.840027
1,U182,kospi50_index,20030103,611.070007,622.500000,608.710022,621.150024
2,U182,kospi50_index,20030106,624.799988,628.260010,618.059998,626.940002
3,U182,kospi50_index,20030107,639.080017,639.419983,612.830017,613.109985
4,U182,kospi50_index,20030108,617.380005,621.359985,611.400024,612.520020
...,...,...,...,...,...,...,...
148155,A005380,현대차,20210909,212500.000000,212500.000000,208000.000000,208500.000000
148156,A005380,현대차,20210910,208500.000000,209500.000000,204000.000000,206500.000000
148157,A005380,현대차,20210913,206500.000000,206500.000000,204000.000000,205000.000000
148158,A005380,현대차,20210914,206500.000000,211500.000000,206000.000000,209000.000000
148159,A005380,현대차,20210915,208000.000000,211500.000000,208000.000000,209500.000000

In [15]:
kospi31_stocks.to_csv("./data/kospi31-2003-2021.csv", index=False)

In [16]:
def preprocess(stock_chart):
    z_feature = stock_chart[["code", "name", "date"]].values.tolist()
    stock_chart = stock_chart.values.tolist()
    stock_first_index = 0
    
    for idx, daily in enumerate(stock_chart):
        z_feature[idx].append(daily[3] / daily[6] - 1)    # open
        z_feature[idx].append(daily[4] / daily[6] - 1)    # high
        z_feature[idx].append(daily[5] / daily[6] - 1)    # low
        
        if stock_chart[idx-1][1] != daily[1]:
            s_idx = idx
            for i in range(7):
                z_feature[idx].append(0) # close
            continue
        else:
            z_feature[idx].append(daily[6] / stock_chart[idx-1][6] - 1) # close
        
        for k in [5, 10, 15, 20, 25, 30]: # z_dk
            if (idx-s_idx)-(k-1) < 0:
                sum_close = stock_chart[s_idx:idx+1]
            else:
                sum_close = stock_chart[idx-(k-1):idx+1]

            sum_close = [chart[6] for chart in sum_close]
            sum_close = sum(sum_close) / (len(sum_close) * daily[6]) - 1
            z_feature[idx].append(sum_close)

    return pd.DataFrame(z_feature, columns=["code", "name", "date", "open", "high", "low", "close",
                                            "z_d5", "z_d10", "z_d15", "z_d20", "z_d25", "z_d30"])

In [17]:
preprocessed_kospi31_daily_stock_chart = preprocess(kospi31_stocks)
preprocessed_kospi31_daily_stock_chart

,code,name,date,open,high,low,close,z_d5,z_d10,z_d15,z_d20,z_d25,z_d30
0,U182,kospi50_index,20030102,-0.000572,0.003749,-0.017282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,U182,kospi50_index,20030103,-0.016228,0.002173,-0.020027,0.044230,-0.021178,-0.021178,-0.021178,-0.021178,-0.021178,-0.021178
2,U182,kospi50_index,20030106,-0.003413,0.002105,-0.014164,0.009321,-0.020145,-0.020145,-0.020145,-0.020145,-0.020145,-0.020145
3,U182,kospi50_index,20030107,0.042358,0.042912,-0.000457,-0.022060,0.001468,0.001468,0.001468,0.001468,0.001468,0.001468
4,U182,kospi50_index,20030108,0.007934,0.014432,-0.001829,-0.000962,0.001946,0.001946,0.001946,0.001946,0.001946,0.001946
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148155,A005380,현대차,20210909,0.019185,0.019185,-0.002398,-0.021127,0.020144,0.017266,0.008953,0.012830,0.022062,0.028937
148156,A005380,현대차,20210910,0.009685,0.014528,-0.012107,-0.009592,0.022276,0.026150,0.020339,0.019613,0.028765,0.036400
148157,A005380,현대차,20210913,0.007317,0.007317,-0.004878,-0.007264,0.020000,0.031220,0.028130,0.024146,0.032878,0.041870
148158,A005380,현대차,20210914,-0.011962,0.011962,-0.014354,0.019512,-0.002871,0.009809,0.008293,0.003589,0.010813,0.020175
148159,A005380,현대차,20210915,-0.007160,0.009547,-0.007160,0.002392,-0.008592,0.004773,0.005887,0.000477,0.006587,0.015513

In [18]:
preprocessed_kospi31_daily_stock_chart.to_csv("./data/preprocessed_kospi31_daily_stock_chart.csv", index=False)